.group-projects-carousel {
    background-color: #000000;
    padding: 40px;
  }
  
  .group-projects-slide {
    text-align: center;
  }
  
  .hackagroup-projectsthon-slide img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  
  .group-projects-slide h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .group-projects-slide p {
    font-size: 1rem;
    color: #ccc;
  }
  
  .slick-dots {
    bottom: -30px; /* Position the dots below the carousel */
  }
  
  .slick-prev, .slick-next {
    color: #A0ECD0; /* Set arrow color */
  }
  